node_modules/

/backend/certs

.env

backend/credentials.json

backend/credentials_epo.json


# Editor configs
.vscode/
.idea/
*.swp

# React/Vite build
build/
coverage/


# Vite
# dist/
.vite/

ca.*
*.pem


# Sequelize migrations (compiled cache)
*.sqlite
*.sqlite3
*.bak
*.tmp

# Logs
logs/
*.log
debug.log

